.popup__vk {
  display: none;
  position: fixed;
  background-color: #518bcb;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  &.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include sm {
    background-color: #edeef0;
  }
  @include md {
    &.active {
      display: block;
    }
  }
}
.vk__content {
  @include sm {
    width: 400px;
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 150px;
    border: 2px solid #e3e4e8;
  }
}
.popup__vk form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 30px;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 22%;
    left: 50%;
    background-color: #ececec;
    transform: translate(-50%, -50%);
  }
  & input {
    height: 55px;
    width: 100%;
    border: none;
    padding-left: 10px;
    font-weight: 400;
    &:last-child {
      width: 15px;
      height: 15px;
    }
  }
  @include sm {
    margin-top: 30px;
    &:after {
      display: none;
    }
    & input {
      width: 270px;
      height: 38px;
      border: 1px solid #d3d9de;
    }
  }
}
.vk__login {
  border-radius: 10px 10px 0px 0px;
  @include sm {
    border-radius: 2px;
  }
}
.vk__password {
  border-radius: 0px 0px 10px 10px;
  @include sm {
    border-radius: 2px;
    margin-top: 17px;
  }
}
.btn__forget {
  position: absolute;
  top: 69px;
  right: 5%;
  & i {
    font-size: 26px;
    color: #989ba2;
  }
  @include sm {
    top: 86px;
    display: none;
  }
}
.btn__pass {
  display: block;
  position: absolute;
  right: 75px;
}
.vk__btn_hide {
  top: 70px;
  display: none;
  & i {
    font-size: 26px;
    color: #989ba2;
  }
  @include sm {
    top: 87px;
  }
}
.vk__btn_show {
  top: 70px;
  display: none;
  & i {
    font-size: 26px;
    color: #989ba2;
  }
  @include sm {
    top: 87px;
  }
}
.vk__submit {
  width: 100%;
  background-color: #4a82bf;
  border: none;
  border-radius: 10px;
  color: white;
  height: 54px;
  margin-top: 20px;
  &.active {
    background-color: #3e71aa;
  }
  @include sm {
    width: 105px;
    height: 35px;
    border-radius: 4px;
    align-self: flex-start;
    margin-left: 65px;
    margin-top: 6px;
  }
}
.vk__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  & i {
    color: #518bcb;
    font-size: 50px;
  }
  @include sm {
    display: none;
  }
}
.vk__close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 20px;
  & span {
    background-color: white;
    height: 20px;
    width: 3px;
    display: block;
    position: absolute;
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 20px;
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  @include sm {
    left: 30px;
    & span {
      background-color: black;
    }
  }
}
.vk__logo-desc {
  display: none;
  @include sm {
    display: block;
    & p {
      font-size: 20px;
      color: black;
      text-align: center;
      font-weight: 500;
      padding-top: 40px;
    }
  }
}

.vk__checkbox {
  display: none;
  @include sm {
    display: block;
    align-self: flex-start;
    margin-left: 65px;
    margin-top: 16px;
    font-size: 13px;
    & input {
      transform: translateY(4px);
      background-color: white;
      margin-right: 8px;
    }
  }
}
.vk__registration {
  display: none;
  &:hover {
    color: white;
  }
  @include sm {
    width: 155px;
    height: 35px;
    background-color: #5fb053;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    align-self: flex-end;
    margin-right: 64px;
    transform: translateY(-35px);
  }
}
.vk__footer {
  display: none;
  @include sm {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    & a {
      color: #2a5885;
    }
    & ul {
      display: flex;
      & li {
        margin-left: 20px;
      }
    }
  }
  @include md {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    & ul {
      display: flex;
      & li {
        margin-left: 20px;
      }
    }
    & p {
      transform: translateY(10px);
    }
  }
}
.vk__forget_pass {
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  &:hover {
    color: white;
  }
  @include sm {
    color: #2a5885;
    &:hover {
      color: #2a5885;
    }
  }
}
